<div class="row about">
  <div class="col-sm-7 content">
    <h2>Camille Courlivant</h2>
    <hr>
    <div ng-include src="'/views/about/experiences.html'"></div>
    <hr>
    <div ng-include src="'/views/about/distinctions.html'"></div>
    <hr>
    <div ng-include src="'/views/about/formations.html'"></div>
    <hr>
    <div ng-include src="'/views/about/skills.html'"></div>
  </div>
  <div class="col-sm-5 hidden-xs">
    <div id="scroll" class="scroll" data-spy="affix" data-offset-top="100">
      <img ng-src="images/about/camille.png"></img>
    </div>
  </div>
</div>
