<!-- <div class="project">
  <div class="row project-header">
    <div class="text-center">
      <p>- Second Prix Adream 2012 -</p>
      <p>Concours d’architecture et de design en éco et agro-matériaux</p>
      <p>Actuellement en cours de fabrication en partenariat avec la Manufacture Nationale de Sèvres</p>
    </div>
  </div>

  <img class="image-header center-block" ng-src="images/projects/ecobell/header_image.png"></img>

  <div class="dashed center-block" ng-style="{'height':'250px'}">
  </div>

  <p class="inline-paragraph center-block">Eco-bell est une alternative au réfrigérateur<br>Il permet de conserver les fruits et les légumes de la façon la plus naturelle qui<br>soit, grâce à l’évaporation</p>

  <div class="dashed center-block" ng-style="{'height':'100px'}">
  </div>

  <div class="project-section" ng-style="{'padding-bottom': '44%'}" >
    <img class="image floating-element" ng-src="images/projects/ecobell/ecobell1.png" ng-style="{'width': '70%', 'margin-left':'30%'}"></img>
    <p class="text floating-element" ng-style="{'width': '25%', 'margin-left':'2%', 'max-height':'5%'}"> Habituellement dissimulés, stockés les fruits et légumes  reprennent leur place au centre de la cuisine, au plus près des besoins de l’utilisateur</p>
    <img class="image floating-element" ng-src="images/projects/ecobell/croquispot.png" ng-style="{'width': '35%', 'margin-top':'16%'}"></img>
  </div>

  <div class="dashed center-block" ng-style="{'height':'500px'}">
  </div>

  <div class="project-section" ng-style="{'padding-bottom': '44%'}" >
    <img class="image floating-element" ng-src="images/projects/ecobell/ecobell2.png" ng-style="{'width': '70%', 'margin-left':'0%'}"></img>
    <p class="text floating-element" ng-style="{'width': '25%', 'margin-left':'72%', 'max-height':'5%'}"> Eco-Bell est conçu en porcelaine, son socle creux est un réservoir, il permet de stocker l’eau nécessaire au refroidissement</p>
    <img class="image floating-element" ng-src="images/projects/ecobell/scenariousage1.png" ng-style="{'width': '12%', 'margin-top':'13%', 'margin-left':'75%'}"></img>
    <img class="image floating-element" ng-src="images/projects/ecobell/scenariousage2.png" ng-style="{'width': '10%', 'margin-top':'22%', 'margin-left':'88%'}"></img>
    <img class="image floating-element" ng-src="images/projects/ecobell/scenariousage3.png" ng-style="{'width': '10%', 'margin-top':'34%', 'margin-left':'73%'}"></img>
  </div>

  <div class="dashed center-block" ng-style="{'height':'500px'}">
  </div>
  <div class="project-section" ng-style="{'padding-bottom': '44%'}" >
    <img class="image floating-element" ng-src="images/projects/ecobell/principeexplication.png" ng-style="{'width': '70%', 'margin-left':'0%'}"></img>
  </div>
</div> -->


<div class="project">
  <section id="parallax">
    <div class="project-header" id="background">
      <div class="text-center">
        <p>- Second Prix Adream 2012 -</p>
        <p>Concours d’architecture et de design en éco et agro-matériaux</p>
        <p>Actuellement en cours de fabrication en partenariat avec la Manufacture Nationale de Sèvres</p>
      </div>
      <img class="image-header center-block" ng-src="images/projects/ecobell/header_image-yellow.png"></img>
      <div id="trigger1"></div>
      <div class="dashed center-block" ng-style="{'height':'300px'}"></div>
      <p class="inline-paragraph center-block">Eco-bell est une alternative au réfrigérateur<br>Il permet de conserver les fruits et les légumes de la façon la plus naturelle qui<br>soit, grâce à l’évaporation</p>
      <div class="dashed center-block" ng-style="{'height':'400px'}">
      </div>
      <p class="inline-paragraph center-block"> Habituellement dissimulés, stockés,<br>les fruits et légumes  reprennent leur place au centre de la cuisine,<br>au plus près des besoins de l’utilisateur</p>
      <div class="dashed center-block" ng-style="{'height':'400px'}">
      </div>
    </div>
    <div id="foreground" class="project-section">
      <img class="image floating-element" ng-src="images/projects/ecobell/ecobell1.png" ng-style="{'width': '100%', 'height':'100%'}"></img>
      <!-- <img class="image floating-element" ng-src="images/projects/ecobell/croquispot.png" ng-style="{'width': '35%', 'margin-top':'16%'}"></img> -->
    </div>
  </section>
</div>
