<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav navbar-right">
      <li class="pills" ng-click="select_domains($event, domain.key)" ng-repeat="domain in domains" domain-pills color="{{domain.color}}"><a href="">{{domain.name.fr}}</a>
      </li>
    </ul>
  </div>
</nav>
