<div id="project">
  <header>
    <img class="img-responsive" ng-src="/images/projects/stenope/stenope_header.png"></img>
    <div class="foreground">
      <h1 class="project-name">Sténopé</h1>
      <p class="role">Rôle: <span class="role-name">Designer produit</span></p>
    </div>
  </header>

  <div class="content">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="text-center">Comment apprendre la photographie ?</h1>
        <p class="text-center">A l’heure du tout numérique, où tout doit être consommé dans l’urgence.
          L'appareil Sténopé permet à son utilisateur de découvrir et de s'approprier la pratique de la photographie,
          et surtout de comprendre son fonctionnement. Plus on découvre les infinies possibilités de cette boite,
          plus la pratique devient interessante.<br>Un stenopé est une chambre noire qui permet de fabriquer des images étonnantes.
          C’est une boite close à l’exception d’un petit trou qui fait passer la lumière. Sur la surface opposée au trou on place
          un papier photo sensible sur lequel vient se former l'image inversée de la réalité.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <img class="img-responsive" ng-src="/images/projects/stenope/picture_1.png"></img>
      </div>
      <!--  <div class="col-sm-4">
        <img class="img-responsive" ng-src="/images/projects/stenope/picture_1.png"></img>
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Experimenter en s'amusant</h1>
        <p>Afin de permettre aux utilisateurs de s'amuser et de créer des images étonnantes, la boite est accompagnée de quatre supports papier différents, qui vont créer des déformations de la réalité, ainsi que deux roues à placer sur la boîte conçues pour faire pivoter l'appareil pendant le temps de pause et ainsi créer une distorsion de l'image et enfin plus classique d'un support adaptable au pied d'appareil photo pour mainteneir l'appareil photo en place.
        </p>
      </div>
    </div>
  </div>
</div>
