<!-- <div class="project">
  <div class="row project-header">
    <div class="text-center">
      <p>- Second Prix Adream 2012 -</p>
      <p>Concours d’architecture et de design en éco et agro-matériaux</p>
      <p>Actuellement en cours de fabrication en partenariat avec la Manufacture Nationale de Sèvres</p>
    </div>
  </div>

  <img class="image-header center-block" ng-src="images/projects/ecobell/header_image.png"></img>

  <div class="dashed center-block" ng-style="{'height':'250px'}">
  </div>

  <p class="inline-paragraph center-block">Eco-bell est une alternative au réfrigérateur<br>Il permet de conserver les fruits et les légumes de la façon la plus naturelle qui<br>soit, grâce à l’évaporation</p>

  <div class="dashed center-block" ng-style="{'height':'100px'}">
  </div>

  <div class="project-section" ng-style="{'padding-bottom': '44%'}" >
    <img class="image floating-element" ng-src="images/projects/ecobell/ecobell1.png" ng-style="{'width': '70%', 'margin-left':'30%'}"></img>
    <p class="text floating-element" ng-style="{'width': '25%', 'margin-left':'2%', 'max-height':'5%'}"> Habituellement dissimulés, stockés les fruits et légumes  reprennent leur place au centre de la cuisine, au plus près des besoins de l’utilisateur</p>
    <img class="image floating-element" ng-src="images/projects/ecobell/croquispot.png" ng-style="{'width': '35%', 'margin-top':'16%'}"></img>
  </div>

  <div class="dashed center-block" ng-style="{'height':'500px'}">
  </div>

  <div class="project-section" ng-style="{'padding-bottom': '44%'}" >
    <img class="image floating-element" ng-src="images/projects/ecobell/ecobell2.png" ng-style="{'width': '70%', 'margin-left':'0%'}"></img>
    <p class="text floating-element" ng-style="{'width': '25%', 'margin-left':'72%', 'max-height':'5%'}"> Eco-Bell est conçu en porcelaine, son socle creux est un réservoir, il permet de stocker l’eau nécessaire au refroidissement</p>
    <img class="image floating-element" ng-src="images/projects/ecobell/scenariousage1.png" ng-style="{'width': '12%', 'margin-top':'13%', 'margin-left':'75%'}"></img>
    <img class="image floating-element" ng-src="images/projects/ecobell/scenariousage2.png" ng-style="{'width': '10%', 'margin-top':'22%', 'margin-left':'88%'}"></img>
    <img class="image floating-element" ng-src="images/projects/ecobell/scenariousage3.png" ng-style="{'width': '10%', 'margin-top':'34%', 'margin-left':'73%'}"></img>
  </div>

  <div class="dashed center-block" ng-style="{'height':'500px'}">
  </div>
  <div class="project-section" ng-style="{'padding-bottom': '44%'}" >
    <img class="image floating-element" ng-src="images/projects/ecobell/principeexplication.png" ng-style="{'width': '70%', 'margin-left':'0%'}"></img>
  </div>
</div> -->


<div class="project" id="project">
  <section id="parallax">
    <div class="background">
      <div class="text-center">
        <p>- Premier Prix Airbus Corporate Jet Design Contest -<br>Airbus Corporate Jet Design Contest</p>
      </div>
      <img class="image-header center-block" ng-src="images/projects/zenith/header-image-yellow.png"></img>
      <div class="dashed center-block img-responsive" ng-style="{'height':'200px'}"></div>
      <p class="inline-paragraph center-block" id="foreground-trigger-1">Le concours Airbus Corporate Design Contest<br>nous invitait à concevoir la cabine du plus grand jet privé ACJ321 du groupe.<br>Zenith est une ouverture sur le ciel et donne à ses passagers une nouvelle dimension de vol.
      </p>
      <div class="dashed center-block img-responsive" ng-style="{'height':'200px'}">
      </div>
      <div class="row foreground" id="foreground-1">
        <div class="project-section col-md-12">
          <img class="floating-element img-responsive" ng-src="images/projects/zenith/zenith1.png"></img>
          <!-- <img class="image floating-element" ng-src="images/projects/ecobell/croquispot.png" ng-style="{'width': '35%', 'margin-top':'16%'}"></img> -->
        </div>
      </div>
      <p class="inline-paragraph center-block">Une paroi lumineuse intégrée à l’habitacle<br>permet de générer au fil des espaces des ouvertures sur un ciel artificiel<br>qui retranscrit la lumière naturelle et les couleurs de l’environnement extérieur</p>
      <div class="dashed center-block img-responsive" ng-style="{'height':'100px'}">
      </div>
      <img class="img-responsive" ng-src="images/projects/zenith/schema-lumiere1.png"></img>
      <div class="dashed center-block img-responsive" ng-style="{'height':'200px'}">
      </div>
      <p class="inline-paragraph center-block">Les espaces de vie tendent à recréer<br>un environnement domestique familier et se divisent en trois espaces distincts :<br>un espace de vie pour les invités, une suite réservée au propriétaire et un patio central</p>
      <div class="dashed center-block img-responsive" ng-style="{'height':'200px'}">
      </div>
      <img class="img-responsive" ng-src="images/projects/zenith/shema.png"></img>
      <div class="dashed center-block img-responsive" ng-style="{'height':'400px'}">
      </div>
      <p class="inline-paragraph center-block" id="foreground-trigger-2">Le patio est un espace commun et récréatif<br>placé au centre de l’avion, où les voyageurs sont invités à profiter de la luminosité extérieure<br>de jour comme de nuit</p>
      <div class="dashed center-block img-responsive" ng-style="{'height':'400px'}">
      </div>
      <div class="row foreground" id="foreground-2">
        <div class="project-section col-md-12">
          <img class="floating-element img-responsive" ng-src="images/projects/zenith/patio1.jpg"></img>
          <!-- <img class="image floating-element" ng-src="images/projects/ecobell/croquispot.png" ng-style="{'width': '35%', 'margin-top':'16%'}"></img> -->
        </div>
      </div>
      <p class="inline-paragraph center-block">Les appartements privés sont composés<br>d’un petit salon, d’un dressing, d’une salle de bain et d’une chambre.<br>Les ouvertures définissent les espaces et ponctuent le quotidien des passagers</p>
      <div class="dashed center-block img-responsive" ng-style="{'height':'400px'}">
      </div>
      <p class="inline-paragraph center-block">À l’avant de Zenith, l’espace est dédié aux invités.<br>Il est divisé en quatre zones d’intimités, chaque passager dispose<br>d’un fauteuil, d’une couchette et de rangements</p>
      <div class="dashed center-block img-responsive" ng-style="{'height':'400px'}">
      </div>
    </div>
  </section>
</div>
